* {
    box-sizing: border-box;
}

:root {
    --primary: #ffb900;
    --font-heading: Sen, ans-serif;
}

html {
    font-size: 62, 5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */

.desc {
    margin-top: 22px;
    color: #5f5b53;
    font-weight: 400;
}

.desc.lv1 {
    font-size: 18px;
    line-height: 30px;
}

/* .desc.lv2 {
    font-size: 18px;
    line-height: 30px;
} */

.heading {
    font-family: var(--font-heading);
    color: #171100;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.heading.lv1 {
    font-size: 58px;
    line-height: 68px;
}

.heading.lv2 {
    font-size: 38px;
    line-height: 48px;
}
a {
    text-decoration: none;
}
.btn {
    background: #171100;
    padding: 0 16px;
    text-align: center;
    line-height: 50px;
    min-width: 118px;
    display: inline-block;
    border-radius: 999px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}
/* Header */

.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5f5b53;
    padding: 8px 21px;
    font-size: 16px;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    left: 21px;
    bottom: 6px;
    position: absolute;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.action {
    margin-left: 49px;
}

/* Hero */

.hero {
    padding: 56px 0 56px 0px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .hero-sumary {
    position: absolute;
    padding: 24px;
    right: 0;
    bottom: 48px;
    width: 270px;
    background: white;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-sumary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero-sumary .info {
    margin-left: 16px;
}
.hero-sumary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-sumary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item + .item {
    margin-top: 22px;
}

.hero-sumary .label {
    color: #5f5b53;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.hero-sumary .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 63px 130px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    font-size: 18px;
    min-width: 180px;
    line-height: 64px;
    background: var(--primary);
}

.hero .watch-video {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 9999px;
}
.hero .watch-video span {
    color: #171100;
    margin-left: 14px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}

.hero .stats {
    margin-left: -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    color: #171100;
    line-height: 54px;
    font-size: 44px;
    font-weight: 700;
}

/* Popular */

.popular {
    padding: 65px 0;
    margin: 135px;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    border: 1px solid var(--primary);
    background: transparent;
}

.popular-top .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary);
}

.popular .course-list {
    margin-top: 55px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
.popular .course-item .thumb {
    width: calc(100% +2);
    margin-left: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    word-break: break-all;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .rating .value {
    color: #fea31b;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

.popular .course-item .desc {
    color: #5f5b53;
    margin: 6px 0 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.popular .foot .price {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}

.popular .foot .btn:hover {
    color: #fff;
    background: var(--primary);
}

/* Feedback :3 */

.feedback {
    padding-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 999px;
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 24px;
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 34px;
    word-wrap: break-word;
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    background: #ffb900;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: white;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
}

.feedback-list {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}
